.contact {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    padding: 40px 80px;
}

.contactContainer {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.backgroundBox {
    position: absolute;
    width: 80%;
    height: 80%;
    background-color: #48652B;
    clip-path: polygon(1.25em 0, 75% 25%,
            100% calc(100% - 1.25em),
            100% 100%, 0 100%, 0 0);
    border-radius: 1rem;
}

.backgroundBox .eclipse {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: transparent;
    border: 35px solid white;
    position: absolute;
    opacity: .1;
    top: -10%;
    left: -5%;
}

.writeUpContainer {
    width: 80%;
    height: 90%;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    position: relative;
    padding: 10px;
}

.contactWriteUp {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;
    width: auto;
    flex: 1;
    text-align: left;
}

.contactWriteUp .contactHeader {
    width: 70%;
    height: auto;
    display: flex;
}

.contactWriteUp .contactHeader h3 {
    font-size: 36px;
    width: 100%;
    height: 100%;
    color: white;
}

.contactWriteUp .paragraph {
    width: 70%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.contactWriteUp .paragraph a span {
    margin-right: 10px;
    color: rgb(182, 182, 182);
}

.contactWriteUp .paragraph a {
    color: white;
    width: 100%;
    text-decoration: none;
    font-size: 15px;
}

.formContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
    flex: 1;
    border-radius: 10px;
    background-color: blue;
    overflow: hidden;
    box-shadow: 0px 80.6px 105.701px rgba(51, 51, 51, 0.1);
}

.formContainer form {

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    gap: 10px;
}

.formContainer form .inputWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
    position: relative;
}

.formContainer form .inputWrapper input {
    padding: 10px;
    border-radius: 5px;
    outline: none;
    display: flex;
    width: 100%;
    border: 1px solid rgb(210, 210, 210);
}

.formContainer form .inputWrapper textarea {
    display: flex;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(210, 210, 210);
    resize: none;
}

.formContainer form button {
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 300;
    font-family: roboto;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    border: 1px solid #48652B;
    color: #48652B;
    margin: auto;
    transition: 350ms all ease;
    cursor: pointer;
}

.formContainer form button:hover {
    background-color: #48652B;
    color: #fff;
}

@media screen and (max-width:900px) {
    .contact {
        height: auto;
        width: 100%;
        padding: unset;
        padding-top: 50px;
    }

    .contactContainer {
        width: 100%;
        height: 100%;
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        border-radius: 20px;
        position: relative;
        margin-bottom: 20px;
        margin: 10px;
    }

    .backgroundBox {
        position: absolute;
        width: 100%;
        height: 50%;
        background-color: #48652B;
        clip-path: polygon(1.25em 0, 75% 25%,
                100% calc(100% - 1.25em),
                100% 100%, 0 100%, 0 0);
        border-radius: 1rem;
    }

    .writeUpContainer {
        width: auto;
        height: auto;
        justify-content: space-evenly;
        align-items: center;
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 10px 0px;
    }

    .contactWriteUp {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 20px;
        height: auto;
        width: auto;
        flex: 1;
        text-align: center;
    }

    .contactWriteUp .contactHeader {
        width: 100%;
        height: auto;
        display: flex;
    }

    .contactWriteUp .contactHeader h3 {
        font-size: 20px;
        font-weight: bold;
        width: 100%;
        padding: 10px;
        height: auto;
        color: #48652B;
        text-transform: capitalize;
    }

    .contactWriteUp .paragraph {
        color: back;
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .contactWriteUp .paragraph a {
        color: #48652B;
        width: 100%;
        text-decoration: none;
        font-weight: bold;
        font-size: 15px;
    }

    .formContainer {
        display: flex;
        position: relative;

        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
        margin-bottom: 20px;
        flex: 1;
        border-radius: 10px;
        overflow: hidden;
        background-color: white;
        box-shadow: 0px 80.6px 105.701px rgba(51, 51, 51, 0.1);
    }

    .formContainer form {
        height: 400px;
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px;
    }





}