.paymentScreenWrapper{
    position: absolute;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
    top: 0px;
    left: 0px;
    /* background-color: blue; */
}


.bookingPaymentPopUpWrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex: 1;
    padding: 5px;
    background-color: rgb(147, 192, 147);
}

.bookingPaymentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
    gap: 5px;
}

.bookingPaymentProgressBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: auto;
}

.progressHandlerContainer {
    border-bottom: 1px solid lightgray;
    display: flex;
    height: auto;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    padding: 10px;
}

.progressHandlerContainer .booking {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding: 5px;
    color: lightgray;
}

.progressHandlerContainer .booking span {
    position: relative;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #757575;
}

.bookingPaymentFormContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
}

.inputWrapper {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.inputWrapper form {
    position: relative;
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formDataHandler {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100%;
    width: 100%;
    flex: 1;
}

fieldset {
    width: 100%;
    height: 50px;
    position: relative;
    display: flex;
    border-radius: 5px;
    border: 1px solid lightgray;
    background-color: transparent;
}

.detailsContainer {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 10px;
    width: 50%;
    z-index: -2;
    margin: auto;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}

.detailsContainer legend {
    border-radius: 5px;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    margin-left: 10px;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    padding: 0px 5px;
    height: auto;
    width: auto;
    display: flex;
}

.inputWrapper fieldset input {
    position: absolute;
    border: none;
    outline: none;
    display: flex;
    padding: 10px;
    display: flex;
    height: 100%;
    width: 100%;
    font-size: 20px;
    flex: 1;
}

.dateAndTimeHandler {
    margin: auto;
    display: flex;
    padding: 20px;
    z-index: -2;
    border-radius: 20px;
    flex-direction: column;
    height: auto;
    width: 100%;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.dateWrapper {
    display: flex;
    width: 400px;
    height: 80px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid lightgray;
}

.dateWrapper legend {
    padding: 10px;
}

.dateWrapper input {
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: inherit;
    background-color: transparent;
}

.selectTime {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: auto;
    padding: 20px;
    border: 1px solid lightgray;
}

.selectTime select {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.selectTime select option {
    margin: 10px;
    display: flex;
}


.bookingDetailsReview {
    position: absolute;
    display: flex;
    z-index: -2;
    border-radius: 20px;
    padding: 20px;
    flex-direction: column;
    height: auto;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.reviewWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.reviewWrapper .activeCompany {
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.reviewWrapper .activeCompany h3 {
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
    text-align: center;
    color: white;
    background-color: #92b371;
}

.activeCustomerInfo {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    align-items: flex-start;
}

.activeCustomerInfo fieldset {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: auto;
    width: auto;
    gap: 5px;
    padding: 10px 25px;

}

.progressBtn {
    width: 100%;
    height: 50px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.progressButton {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    height: auto;
}

.paymentNavigationBtn {
    position: relative;
    display: flex;
    height: auto;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: unset;
}

.prevBtn,
.nextBtn {
    width: auto;
    height: auto;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 15px;
    margin: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    cursor: pointer;
    transition: all 350ms ease;
}

.prevBtn {
    background-color: transparent;
    position: relative;
    border: none;
    border: 1px solid #48652B;
}

.nextBtn {
    background-color: #698d44;
    border: none;
    font-weight: bold;
}

.prevBtn:hover {
    background-color: #48652B;
}

.nextBtn:hover {
    color: #fff;
    background-color: #48652B;
    font-weight: bold;
}

.confirmBtn {
    background-color: #92b371;
    font-weight: bold;
    border: none;
}

.confirmBtn:hover {
    background-color: #48652B;
    color: white;
    border: none;
}

.paymentUpload {
    flex-direction: column;
    border-radius: 10px;
    position: relative;
    display: flex;
    padding: 20px;
    z-index: -2;
    width: auto;
    height: auto;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
}

.paymentUpload .paymentUploadContainer {
    justify-content: space-evenly;
    display: flex;
    gap: 20px;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.paymentUpload .paymentHeader {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
}

.paymentUpload .paymentHeader h3 {
    font-size: 20px;
    gap: 10px;
    font-weight: bold;
    display: flex;
    text-align: center;
}

.paymentUpload .paymentHeader h3 span {
    color: #698d44;
}

.bankTransferDetails {
    padding: 20px;
    background-color: rgb(239, 239, 239);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
    margin: 10px;
}

.paymentUpload .fileUpload {
    display: flex;
    height: 100%;
    width: 50%;
}

.paymentUpload .fileUpload input[type="file"] {
    display: none;
}

.paymentUpload .fileUpload label {
    cursor: pointer;
    font-size: 15px;
    display: flex;
    padding: 5px 10px;
    width: 100%;
    justify-content: center;
    gap: 20px;
    align-items: center;
    border-radius: 10px;
    border: 1px solid lightgray;
}

.paymentUpload .fileUpload label hr {
    height: 100%;
    width: 2px;
    background-color: lightgray;
    display: flex;
    border: none;
}

.paymentUpload .fileUpload label img {
    height: 30px;
    display: flex;
    opacity: .5;

}















.formSubmitBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border: none;
    font-size: 20px;
    color: white;
    background-color: #48652B;
}


.absolute {
    position: absolute;
    z-index: 2;
    width: 100%;
}

.inputAvailable {
    border: 1.5px solid green;
}