.popUp-serviceWrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 5%;
}

.serviceSectionwrapper {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    transition: 1s all ease;
}

.popUpserviceContent {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    background-color: rgb(147, 192, 147);
}

.pop-popUpMainWrapper {
    display: flex;
    margin: auto;
    width: 100%;
    height: 100%;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
}

.serviceLink {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.serviceLinkwrapper {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.serviceLinkwrapper .sc-cancelBtn {
    text-decoration: none;
    color: rgb(177, 177, 177);
    font-weight: bold;
    transition: all 500ms ease;
    cursor: pointer;
}

.serviceLinkwrapper .sc-cancelBtn:hover {
    color: rgb(117, 117, 117);
}

.popupLink {
    text-decoration: none;
}

.iconlink {
    color: #8fc65881;
}

.linkText {
    display: flex;
    padding: 5px;
    margin: 0px 5px;
    color: #48652B;
    background-color: #8fc6582c;
    font-size: 10px;
    cursor: pointer;
    border: none;
}

.closePopUpBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-right: 0px;
}

.serviceBooking-fliterContainer {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #d0f2b9;
}

.clearAllBtnConatainer {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.filter-formContainer {
    margin: 10px auto;
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.serviceBooking-fliterContainer .filterHeader {
    font-size: 15px;
    font-weight: normal;
    width: auto;
    height: auto;
    color: #48652B;

}

.clearAllBtnConatainer .clearRangeBtn-container {
    position: relative;

}

.clearAllBtnConatainer .clearRangeBtn-container button {
    padding: 5px 10px;
    color: #8fc658;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.clearAllBtnConatainer .clearRangeBtn-container button:hover {
    color: #48652B;
}

.filter-formContainer form {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;

}

form .search {
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
}

.search h3 {
    width: 100%;
    padding: 10px 0px;
    font-weight: normal;
    font-size: 15px;
    text-transform: capitalize;
}

.search .searchContainer {
    border-radius: 10px;
    height: 100%;
    width: 100%;
}


.searchContainer input {
    padding: 10px;
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    border: none;
    border-radius: 10px;
    border: 2px solid #aceb64;
    outline: none;
}

/* Range */
.range {
    width: 100%;
    height: auto;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
}

.range h3 {
    width: 100%;
    padding: 10px 0px;
    font-size: 15px;
    font-weight: normal;
}

.rangeContainer {
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    margin: auto;
}

.rangeContainer hr {
    margin: 0px 20px;
    border: none;
    height: 2px;
    width: 50%;
    background-color: #8fc658;
}

.rangeContainer input {
    width: 100%;
    padding: 10px;
    margin: auto;
    outline: none;
    justify-content: center;
    border: 1px solid #8fc658;
    border-radius: 10px;
    align-items: center;
}

/* LIST */
.listScrollContainer {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    padding: 0px 10px;
}

.serviceBooking-companyList {
    flex-direction: column;
    display: flex;
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    top: 0px;
    margin: auto;
    gap: 5px;
}

.serviceBooking-companyList .listWrapper {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin: 0px;
    border: 1px solid #8fc658;
    padding: 5px;
    overflow: hidden;
    background-color: rgb(243, 242, 242);
    /* background-color: transparent; */
}

.list-imageContainer {
    width: 150px;
    height: 100%;
    display: flex;
    flex: 1;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.list-imageContainer img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
}

.listContext {
    width: auto;
    height: 100%;
    display: flex;
    flex: 3;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.listContext .companyName {
    color: #8fc658;
    font-size: 15px;
    text-transform: capitalize;
}

.listContext p {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 15px;
}

.companyServices {
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.companyServices .serviceTypes {
    text-transform: capitalize;
    font-size: 10px;
    font-size: open sans;
    width: 100%;
    display: flex;
}

.companyServices .serviceTypes p {
    background-color: white;
    padding: 5px;
    display: flex;
    margin: 5px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
}

.listContext .priceAndBook {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;
}

.priceAndBook .listPrice {
    width: auto;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 5px;
}

.moneySign {
    color: #8fc658;
    height: 100%;
    width: auto;
    display: flex;
    margin: auto;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.priceAndBook .listPrice hr {
    border: none;
    height: 2px;
    width: 15px;
    margin: 0px 10px;
    background-color: #8fc658;
}

.priceAndBook .listPrice .price {
    text-indent: 2px;
    color: #8fc658;
    font-size: 20px;
    font-weight: bold;
}

.priceAndBook .bookBtn {
    align-items: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.priceAndBook .bookBtn button {
    padding: 5px 35px;
    color: white;
    display: flex;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(147, 192, 147);
    align-items: flex-start;
}

.priceAndBook .bookBtn button:hover {
    background: #48652B;
}

/* SECOND SCREEN */
/* EACH CLEANING SERVICE */
.secondScreenPopUp {
    background-color: rgb(147, 192, 147);
    padding: 20px;
    position: relative;
    height: 100%;
    width: 100%;
}

.selectedCleaningService {
    position: absolute;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(243, 242, 242);
}


.selectedCleaningServiceWrapper {
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    display: flex;
    padding: 20px;
    gap: 10px;
}

.serviceCompanyProperty {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 100%;
    width: auto;
    flex: 1;
}

.sc-imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.sc-imageContainer img {
    height: auto;
    width: 100%;
    display: flex;
    object-fit: cover;
    margin: auto;
}

.sc-nameAndAbout {
    display: flex;
    flex-direction: column;
    width: 100;
    height: auto;
    justify-content: center;
    align-items: flex-start;

}

.sc-nameAndAbout h3 {
    display: flex;
    font-weight: bold;
    font-size: 30px;
    color: white;
}

.sc-nameAndAbout p {
    display: flex;
    font-size: 15px;
    color: white;
}

.sc-serviceRendered {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: auto;
}

.sc-serviceRendered p {
    width: auto;
    padding: 3px 10px;
    display: flex;
    background-color: white;
    box-shadow: -2px 4px 5px rgb(83, 83, 83);
}

/* STAFF PROPS */
.companyStaffDetails {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.sc-staffers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: auto;
    gap: 20px;
    padding: 20px;
}

.sc-staffImagesContainer {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
}

.sc-employeeWrapper {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: unset;
    gap: 5px;
}

.sc-staffImagesWrapper {
    display: flex;
    height: 80px;
    width: 80px;
    overflow: hidden;
    margin: auto;
    border-radius: 50px;
    border: 2px solid #8fc658;
}

.sc-staffImagesContainer img {
    display: flex;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.workingHoursWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    height: auto;
    justify-content: space-between;
    align-items: center;
}

.workingHoursContainer {
    display: flex;
    padding: 10px;
    padding-top: 0px;

    width: 100%;
    border-bottom: 1px solid #757575;
}

.workingHours {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.workingHours .day {
    flex: 1;
    display: flex;
    width: 100px;
}

.workingHours .time {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    flex: 1;
}

.sc-bookNowButton {
    cursor: pointer;
    background-color: #48652B;

    color: white;
    font-weight: bold;
    padding: 10px 20px;
    width: 50%;
    height: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    border: none;

}

.sc-bookNowButton:hover {
    background-color: #31441d;
}

.deActiveBooking {
    position: absolute;
    z-index: -99;
    left: -200%;
}



@media screen and (max-width:900px) {
    .popUp-serviceWrapper {
        padding: unset;
        height: auto;
        /* padding-top: 20px; */
        background-color: rgb(243, 242, 242);
        padding: 5px;
    }

    .serviceLink {
        padding: 10px;
        padding-top: 25px;
        padding-bottom: 5px;
    }

    .popUpserviceContent {
        padding: 5px;
    }

    .pop-popUpMainWrapper {
        display: flex;
        flex-direction: column;
    }

    .serviceBooking-fliterContainer {
        display: flex;
        flex-direction: column;
        margin: auto;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: auto;
        padding: 5px 20px;
        display: flex;
        margin-bottom: 15px;
    }

    .clearAllBtnConatainer {
        display: none;
    }

    .listScrollContainer {
        padding: 5px;
    }

    .listWrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .list-imageContainer {
        width: 70%;
        margin: unset;
    }

    /* SECOND SCREEN */
    .selectedCleaningService {
        padding: unset;
        position: absolute;
        top: 0px;
    }

    .secondScreenPopUp {
        overflow: scroll;
        display: flex;
        height: auto;
        padding: unset;
    }

    .selectedCleaningService {
        position: relative;
        padding: unset;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        background-color: rgb(243, 242, 242);
        overflow: scroll;
    }

    .selectedCleaningServiceWrapper {
        flex-direction: column;
        position: inherit;
        overflow: scroll;
        height: auto;
        width: 100%;
        padding: 10px;
        gap: 5px;
        align-items: center;
        justify-content: center;
    }

    .serviceCompanyProperty {
        gap: 20px;
        display: flex;
        height: auto;
        width: 100%;
        padding: 5px;
        flex: unset;
    }

    .sc-nameAndAbout p {
        justify-content: space-evenly;
        /* margin: 5px 0px; */
    }

    .sc-serviceRendered p {
        margin-bottom: 5px;
    }
.companyStaffDetails{
    width: 100%;
}





}