* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* outline: 1px solid brown; */
}
html {
  scroll-behavior: smooth;
}
body{
  background-color: #fafbfc;  
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  /* padding: 0px 120px; */
}

.loadingPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: black;
}
